grafana:
  service:
    type: LoadBalancer
    loadBalancerIP: 10.10.10.201

prometheus:
  prometheusSpec:
    retention: 30d
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: ""
          accessModes: ["ReadWriteMany"]
          resources:
            requests:
              storage: 50Gi
          selector:
            matchLabels:
              app: prometheus-storage
