apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 56.6.2
    helm:
      valuesObject:
        prometheus:
          prometheusSpec:
            retention: 30d
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: ""
                  accessModes: ["ReadWriteMany"]
                  resources:
                    requests:
                      storage: 50Gi
                  selector:
                    matchLabels:
                      app: prometheus
        grafana:
          service:
            type: LoadBalancer
            loadBalancerIP: 10.10.10.201
          persistence:
            enabled: true
            size: 1Gi
            storageClassName: ""
            accessModes:
              - ReadWriteMany
            selector:
              matchLabels:
                app: grafana
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - Replace=true
  ignoreDifferences:
    - group: ""
      kind: Service
      jsonPointers:
        - /status/loadBalancer/ingress
